<footer class="container-fluid">
    <div class="row">
        <div class="col-lg-2 logo">
            <img src="../../assets/img/logo.png" width="200" alt="">
        </div>
        <div class="col-lg-10 footer_link">
            <div class="col-lg-3">
                <p>A propos de nous</p>
                <ul>
                    <li>Qui somme nous ?</li>
                    <li>Notre Equipes</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p>Trouver votre soin</p>
                <ul>
                    <li>
                        <a href="">Coiffure</a>
                    </li>
                    <li>
                        <a href="">Beaute</a>
                    </li>
                    <li>
                        <a href="">Menage</a>
                    </li>
                    <li>
                        <a href="">Coach Sportif</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p>Nous contacter</p>
                <ul>
                    <li>Tel : <a href="">0781360852</a></li>
                    <li>Mel : <a href="">contact@GoodService.com</a></li>
                    <li>Adresse : xxxxxxxxxxxxxx </li>
                </ul>
            </div>
        </div>
    </div>
</footer>