<app-header-user></app-header-user>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>RÉSERVATIONS EN COURS</h1>
            </div>
            <div>

            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-reserved" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      RESERVER UN SERVICE
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">COIFFURE</a>
                        <a class="dropdown-item" href="#">BEAUTE</a>
                        <a class="dropdown-item" href="#">MENAGE</a>
                        <a class="dropdown-item" href="#">COACH SPORTIF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>