<app-header-user></app-header-user>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>RÉSERVATIONS EN COURS</h1>
            </div>
            <div>

            </div>
            <div>
                <div class="dropdown">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">profesional_id</th>
                                <th scope="col">appointement_DateTime</th>
                                <th scope="col">etat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <li *ngFor="let reservation of reservations">{{reservation.id}}</li>
                                </td>
                                <td>
                                    <li *ngFor="let reservation of reservations">{{reservation.professional.nom}} {{reservation.professional.prenom}} ({{reservation.professional.poste}})</li>
                                </td>
                                <td>
                                    <li *ngFor="let reservation of reservations">{{reservation.appointmentDateTime}}</li>
                                </td>
                                <td>
                                    <li *ngFor="let reservation of reservations">{{reservation.status}}</li>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-secondary dropdown-toggle btn-reserved" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      RESERVER UN SERVICE
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">COIFFURE</a>
                        <a class="dropdown-item" href="#">BEAUTE</a>
                        <a class="dropdown-item" href="#">MENAGE</a>
                        <a class="dropdown-item" href="#">COACH SPORTIF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>