<app-header-horizontal-user></app-header-horizontal-user>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="welcome-home col-lg-3">
                <h2>BIENVENUE</h2>
            </div>
            <div class="">
                <div class="casse">
                    <div class="casse-one">
                        <a class="cascol-lg-4 se-link" href="">
                            <img class="casse-img" src="../../assets/img/reserved.png" width="40" height="40" alt="reserved">
                            <p class="title-casse">RÉSERVATIONS EN COURS</p>
                            <p class="title-desscrription">
                                Consultez, modifiez ou annulez vos réservations. <br> Echangez avec votre professionnel.
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-4 casse-one">
                        <a class="casse-link" href="">
                            <img class="casse-img" src="../../assets/img/user-menu.png" width="40" height="40" alt="">
                            <p class="title-casse">MON PROFIL</p>
                            <p class="title-desscrription">
                                Modifiez mes informations personnelles.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="casse">
                    <div class="col-lg-4 casse-two">
                        <a class="casse-link" href="">
                            <img class="casse-img" src="../../assets/img/historique.png" width="40" height="40" alt="">
                            <p class="title-casse">HISTORIQUE & FACTURES</p>
                            <p class="title-desscrription">Consultez vos commandes passées et téléchargez vos factures.</p>
                        </a>
                    </div>
                    <div class="col-lg-4 casse-two">
                        <a class="casse-link" href="">
                            <img class="casse-img" src="../../assets/img/cb.png" width="40" height="40" alt="">
                            <p class="title-casse">Moyens de paiements</p>
                            <p class="title-desscrription">Modifiez vos cartes bancaires.</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 deconnect">
                <div>
                    <img class="deconnect-img" src="../../assets/img/deconnect.png" width="40" height="40" alt="">
                </div>
                <div>
                    <p>Déconnexion</p>
                </div>
            </div>
        </div>
    </div>
</div>