<app-header-user></app-header-user>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>CONSULTER MON COMPTE</h1>
            </div>
            <div>
                <div class="attribut">
                    <div class="col-4"><label class="client-profile__label">Nom</label></div>
                    <div class="col-8">{{currentUser.nom}}</div>
                </div>
                <div class="attribut">
                    <div class="col-4"><label class="client-profile__label">Prénom</label></div>
                    <div class="col-8">{{currentUser.prenom}}</div>
                </div>
                <div class="attribut">
                    <div class="col-4"><label class="client-profile__label">Téléphone</label></div>
                    <div class="col-8">{{currentUser.numero}}</div>
                </div>
                <div class="attribut">
                    <div class="col-4"><label class="client-profile__label">Email</label></div>
                    <div class="col-8">{{currentUser.email}}</div>
                </div>
                <div class="attribut">
                    <div class="col-4"><label class="client-profile__label">Mot de passe</label></div>
                    <div class="col-8"><button type="button" class="btn btn-primary">Modifier votre mot de passe</button></div>
                </div>
                <div class="attribut">
                    <div class="col-4"><label class="client-profile__label">Adresse</label></div>
                    <div class="col-8">{{currentUser.adresse}}</div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary" style="margin-right: 6px;" (click)="openEdit(contentEdit, currentUser)">
                    <i class="fa fa-edit">modifier</i>
                </button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

<ng-template #contentEdit let-model>
    <div class="modal-header">
        <h4 class="modal-title">Modifications du compte</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" novalidate>
            <div class="form-group">
                <label for="nom"> nom </label>
                <div class="input-group">
                    <input type="text" formControlName="nom" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="prenom"> Prénom </label>
                <div class="input-group">
                    <input type="text" formControlName="prenom" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="numero"> Numéro </label>
                <div class="input-group">
                    <input type="text" formControlName="numero" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="email"> email </label>
                <div class="input-group">
                    <input type="text" formControlName="email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="adresse"> Adresse </label>
                <div class="input-group">
                    <input type="text" formControlName="adresse" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="code_postal">  Code postal </label>
                <div class="input-group">
                    <input type="text" formControlName="code_postal" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="ville">  Ville </label>
                <div class="input-group">
                    <input type="text" formControlName="ville" class="form-control">
                </div>
            </div>
            <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info" (click)="onSave()"> Enregistrer les modifications</button>
            </div>
        </form>
    </div>
</ng-template>