<app-header-horizontal></app-header-horizontal>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>CONSULTER MON COMPTE</h1>
            </div>
            <div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Civilité</label></div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Nom</label></div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Prénom</label></div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Société</label></div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Téléphone</label></div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Email</label></div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Mot de passe</label></div>
                    <div class="col-8"></div>
                </div>
                <div>
                    <div class="col-4"><label class="client-profile__label">Adresse</label></div>
                    <div class="col-8"></div>
                </div>
            </div>
            <div>
                <a class="btn btn-alt btn-sm btn-primary btn-modify-profil">MODIFIER</a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>