<app-header-visiteur></app-header-visiteur>
<section>
    <div class="container-fluid slider">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: teal; padding-top: 1%; padding-bottom: 1%;">
        <div class="container">
            <div class="row" style="color: white;">
                <h1>Les coiffeurs GoodService</h1>
                <p>La crème des pros va vous rendre accro. Votre prochain talent coup de coeur se trouve parmi les coiffeurs GoodService.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid" style="margin-bottom: 5%; margin-top: 3%;">
        <div class="container">
            <div class="row">
                <div class="titre" style="display: flex; flex-direction: column;">
                    <div>
                        <h1>Nos services coiffure</h1>
                    </div>
                    <div class="subtitle">
                        <p>Une session coiffure permet de rafraîchir une coupe existante<br> ou de changer de tête.
                        </p>
                    </div>
                    <div class="all-service">
                        <div class="service col-lg-3">
                            <a><span class="h5 service-card__title service-card__title--sm ">
                                    Coupe homme
                                </span>
                            </a>
                        </div>
                        <div class="service col-lg-3 ">
                            <a><span class="h5 service-card__title service-card__title--sm ">
                                    Coupe femme
                                </span>
                            </a>
                        </div>
                        <div class="service col-lg-3 ">
                            <a><span class="h5 service-card__title service-card__title--sm ">
                                    Brushing
                                </span>
                            </a>
                        </div>
                        <div class="service col-lg-3">
                            <a><span class="h5 service-card__title service-card__title--sm ">
                                    Coloration
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: teal; margin-bottom: 5%;">
        <div class="container">
            <div class="row" style="color: white; display: flex; align-items: center; flex-direction: column;">
                <div class="title">
                    <h1>La magie GoodSevice coiffure</h1>
                </div>
                <div class="col-lg-12" style="display: flex; align-items: center; flex-direction: row; justify-content: space-between;">
                    <div class="etape col-lg-3">
                        <div class="image">
                            <img src="../../assets/img/carte.png" width="100" height="100" alt="">
                        </div>
                        <div class="explication">
                            <p>Choisissez un prestataire de votre secteur</p>
                        </div>
                    </div>
                    <div class="etape col-lg-3">
                        <div class="image">
                            <img src="../../assets/img/prestation.png" width="100" height="100" alt="">
                        </div>
                        <div class="explication">
                            <p>Choisissez une prestation</p>
                        </div>
                    </div>
                    <div class="etape col-lg-3">
                        <div class="image">
                            <img src="../../assets/img/watches-front-view.png" width="100" height="100" alt="">
                        </div>
                        <div class="explication">
                            <p>Indiquez votre créneau idéal</p>
                        </div>
                    </div>
                    <div class="etape col-lg-3">
                        <div class="image">
                            <img src="../../assets/img/worldwide-location--v2.png" width="100" height="100" alt="">
                        </div>
                        <div class="explication">
                            <p>Indiquez votre lieux pour la prestation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>