<nav class="header_horizontal">
    <div class="container-fluid">
        <div class="container">
            <div class="row header">
                <div class="col-lg-2 logo">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/img/logo.png" alt="" width="90" height="80" class="d-inline-block align-top">
                    </a>
                </div>
                <div class="col-lg-7" id="navbarNavDropdown">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Coiffure
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Coupe Homme</a>
                                        <a class="dropdown-item" href="#">Coupe Femme</a>
                                        <a class="dropdown-item" href="#">Brushing</a>
                                        <a class="dropdown-item" href="#">Coloration</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Beaute
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Epilation</a>
                                        <a class="dropdown-item" href="#">Manucure</a>
                                        <a class="dropdown-item" href="#">Soi hydratant</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menage
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Menage</a>
                                        <a class="dropdown-item" href="#">Repasage</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Coach Sportif
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Cuisse, abdo & fessier</a>
                                        <a class="dropdown-item" href="#">Cardio training</a>
                                        <a class="dropdown-item" href="#">Yoga</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg">
                    <div class="header__button">
                        <div class="header__button_position">
                            <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../assets/img/icon-user.webp" width="40" height="40" alt="">
                            </a>
                            <div class="dropdown-menu" style="margin-top: 14px;" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#" routerLink="/backuser">Tableau de bord</a>
                                <a class="dropdown-item" href="#" routerLink="/ReservationUser">réservations en cour</a>
                                <a class="dropdown-item" href="#" routerLink="/HistoriquePaymentUser">Historique & Réservations</a>
                                <a class="dropdown-item" href="#" routerLink="/mon-comtpe">Mon profil</a>
                                <a class="dropdown-item" href="#" routerLink="/MoyenDePaiment">Moyen de paiements</a>
                                <a class="dropdown-item" href="#" routerLink="">Me déconnecter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>