<app-header-visiteur></app-header-visiteur>
<div class="container-fluid">

    <div class="container">
        <div class="rox">
            <div class="title" style="margin-top: 2%;">
                <h1 style="border-bottom: 1px solid black; margin-bottom: 4%; padding-bottom: 2%;">
                    Qui somme-nous ?
                </h1>
                <div class="banier">
                    <img src="../../assets/img/test666.png" width="700" height="600" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>