<app-header-horizontal-professional></app-header-horizontal-professional>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>Ajouter une abscence</h1>
            </div>
            <div>

            </div>
            <div>
                <a routerLink="/NouvelleAbscence" class="btn btn-alt btn-sm btn-primary btn-add-cart">Ajouter une nouvelle abscence</a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>