<app-header-user></app-header-user>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>AJOUTER UNE CARTE BANCAIRE</h1>
            </div>
            <div>
                <form>
                    <div class="numerocb col form_span from_span">
                        <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/user.png"
                                width="24" height="24" alt="" class="img-fluid" /></span>
                        <input type="text" maxlength="16" class="form-control" placeholder="1234 1234 1234 1234" aria-label="1234 1234 1234 1234">
                    </div>
                    <br>
                    <div class="row form_input form_input">
                        <div class="col form_span from_span">
                            <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/user.png"
                                    width="24" height="24" alt="" class="img-fluid" /></span>
                            <input type="date" class="form-control" placeholder="Nom" aria-label="Nom">
                        </div>
                        <div class="col form_span from_span">
                            <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/user.png"
                                    width="24" height="24" alt="" class="img-fluid" /></span>
                            <input type="text" class="form-control" placeholder="CVC" aria-label="CVC" aria-describedby="basic-addon1" maxlength="3" inputmode="numeric">
                        </div>
                    </div>
                    <div>
                        <input style="margin-left: 37%;" type="submit" value="Ajouter cette carte" class="btn btn-alt btn-sm btn-primary btn-add-cart" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>