<nav class="header_horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 logo">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/img/logos.png" alt="" width="55" height="50" class="d-inline-block align-top">
                </a>
            </div>
            <div class="col-lg-6 menu-link">
                <div class="menu-link-item">
                    <img src="../../assets/img/map.png" width="30" height="30" alt="">
                    <p>La map</p>
                </div>
                <div class="menu-link-item">
                    <img src="../../assets/img/user.png" width="30" height="30" alt="">
                    <p>Tableau de bord</p>
                </div>
            </div>
        </div>
    </div>
</nav>