<app-header-horizontal-professional></app-header-horizontal-professional>
<div class="container-fluid">
    <div class="container">
        <div class="row horaire-info">
            <div class="title">
                <h1>Vos Horaires !</h1>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Jour</th>
                            <th scope="col">Heure de début</th>
                            <th scope="col">Heure de fin</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let horaire of horaires">
                            <td>
                                <li>{{horaire.jour}}</li>
                            </td>
                            <td>
                                <li>{{horaire.heureDeb}}</li>
                            </td>
                            <td>
                                <li>{{horaire.heureFin}}</li>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning" style="margin-right: 6px;" (click)="openEdit(contentEdit, horaire)">
                                    <i class="fa fa-edit">Modifier vos horaires</i>
                                </button>

                                <button type="button" class="btn btn-danger" (click)="openDelete(contentDelete, horaire)">
                                    <i class="fa fa-remove">Supprimer</i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn-add" style="background-color: teal;" [routerLink]="['../addHoraire']">
                    Ajouter des horaires
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h2>Vous êtes sûr de vouloir supprimer cet horaire.</h2>
        <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Oui, Supprimer!</button>
        </div>
    </div>
</ng-template>

<ng-template #contentEdit let-model>
    <div class="modal-body">
        <h2>Modifier vos horaires</h2>
        <form [formGroup]="editForm" novalidate>
            <div class="row form_edit form_input">
                <div class="col-lg-1 form_span_edit from_span">
                    <div class="col-lg-4" style="padding: 0;">
                        <select id="standard-select" formControlName="jour">
                            <option selected>Choisir un jour</option>
                            <option value="Lundi">Lundi</option>
                            <option value="Mardi">Mardi</option>
                            <option value="Mercredi">Mercredi</option>
                            <option value="Jeudi">Jeudi</option>
                            <option value="Vendredi">Vendredi</option>
                            <option value="Samedi">Samedi</option>
                            <option value="Dimanche">Dimanche</option>
                        </select>
                        <label for="inputMDEx1">Jour</label>
                    </div>
                </div>
                <div class="col-lg-4 form_span_edit from_span">
                    <div class="md-form mx-8 my-8">
                        <input type="time" id="inputMDEx1" class="form-control" formControlName="heureDeb">
                        <label for="inputMDEx1">Heure de début</label>
                    </div>
                </div>
                <div class="col-lg-4 form_span_edit from_span">
                    <div class="md-form mx-8 my-8">
                        <input type="time" id="inputMDEx1" class="form-control" formControlName="heureFin">
                        <label for="inputMDEx1">Heure de fin</label>
                    </div>
                </div>
            </div>
            <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info" (click)="onSave()"> Enregistrer les modifications
                </button>
            </div>
        </form>
    </div>
</ng-template>