<app-header-horizontal-professional></app-header-horizontal-professional>
<section>
    <h1>Horaire d'ouverture</h1>
    <form action="">
        <div class="row form_input form_input">
            <div class="col-lg-1 form_span from_span">
                <div class="col-sm-10" style="padding: 0;">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Lundi">
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de début</label>
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de fin</label>
                </div>
            </div>
        </div>
        <div class="row form_input form_input">
            <div class="col-lg-1 form_span from_span">
                <div class="col-sm-10" style="padding: 0;">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Mardi">
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de début</label>
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de fin</label>
                </div>
            </div>
        </div>
        <div class="row form_input form_input">
            <div class="col-lg-1 form_span from_span">
                <div class="col-sm-10" style="padding: 0;">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Mercredi">
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de début</label>
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de fin</label>
                </div>
            </div>
        </div>
        <div class="row form_input form_input">
            <div class="col-lg-1 form_span from_span">
                <div class="col-sm-10" style="padding: 0;">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Jeudi">
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de début</label>
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de fin</label>
                </div>
            </div>
        </div>
        <div class="row form_input form_input">
            <div class="col-lg-1 form_span from_span">
                <div class="col-sm-10" style="padding: 0;">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Vendredi">
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de début</label>
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de fin</label>
                </div>
            </div>
        </div>
        <div class="row form_input form_input">
            <div class="col-lg-1 form_span from_span">
                <div class="col-sm-10" style="padding: 0;">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Samedi">
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de début</label>
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de fin</label>
                </div>
            </div>
        </div>
        <div class="row form_input form_input">
            <div class="col-lg-1 form_span from_span">
                <div class="col-sm-10" style="padding: 0;">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Dimanche">
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de début</label>
                </div>
            </div>
            <div class="col-lg-2 form_span from_span">
                <div class="md-form mx-8 my-8">
                    <input type="time" id="inputMDEx1" class="form-control">
                    <label for="inputMDEx1">Heure de fin</label>
                </div>
            </div>
        </div>
    </form>
</section>
<app-footer></app-footer>