<app-header-user></app-header-user>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>Vos prestation</h1>
            </div>
            <div>

            </div>
            <div>
                <div class="dropdown">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">prestation</th>
                                <th scope="col">client</th>
                                <th scope="col">Date</th>
                                <th scope="col">etat</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reservation of reservations">
                                <td>
                                    <li>{{reservation.id}}</li>
                                </td>
                                <td>
                                    <li>{{reservation.prestation}}</li>
                                </td>
                                <td>
                                    <li>{{reservation.professional.nom}} {{reservation.professional.prenom}}</li>
                                </td>
                                <td>
                                    <li>{{reservation.appointementDate}}</li>
                                </td>
                                <td>
                                    <li>{{reservation.etat}}</li>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" style="margin-right: 6px;">
                                        <i class="fa fa-search"
                                            (click)="openDetails(contentDetails, reservation)">Info</i>
                                    </button>

                                    <button type="button" class="btn btn-warning" style="margin-right: 6px;">
                                        <i class="fa fa-edit"
                                            (click)="openDetails(contentDetails, reservation)">modifier</i>
                                    </button>

                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-remove"
                                            (click)="openDelete(contentDelete, reservation)">Suprimer</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h2>Vous êtes sûr de vouloir supprimer cet enregistrement.</h2>
        <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Oui, Suprimer!</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="openDetails(contentDetails, reservation)">Detail</button>
    </div>
</ng-template>


<ng-template #contentDetails let-model>
    <div class="modal-header">
        <h4 class="nodal-title" id="nodal-basic-title">Information sur votre reservation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #f="ngForm" (ngSubmit)="OnSubmit(f)" novalidate>
        <div class="form-group">
            <label for="firstname">prestation</label>
            <div class="input-group">
                <input id="prestation" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">professional</label>
            <div class="input-group">
                <input id="professional" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="department">Date</label>
            <div class="input-group">
                <input id="date" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label>Adress</label>
            <div class="input-group">
                <input id="Adress" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label> etat</label>
            <div class="input-group">
                <input id="etat" class="form-control" readonly>
            </div>
        </div>
    </form>
</ng-template>
<app-footer></app-footer>