<app-header-reservation></app-header-reservation>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="map-wrapper col-lg-8">

                    <h1 class="title">Choisssez votre coiffeur!</h1>
                    <div class="map-border">
                        <div id="map"></div>
                    </div>
                    <form #Registerform="ngForm" (ngSubmit)="registerReservation()">
                        <input type="hidden" value="22" [(ngModel)]="reservation.client" [ngModelOptions]="{standalone: true}">
                        <input type="hidden" value="30" [(ngModel)]="reservation.professional" [ngModelOptions]="{standalone: true}">
                        <div class="info-coiffeur">
                            <p class="info-coiffeur-title">INFORMATION SUR LE SALON DE COIFFURE</p>
                        </div>
                        <div>
                            <h2 class="title" style="padding-top: 3%;">choisissez vos services !</h2>
                            <div class="service">
                                <div class="title-service">
                                    <div>
                                        <img src="../../assets/img/men.png" width="80" height="80" alt="">
                                    </div>
                                    <div class="prestation-text">
                                        COUPE HOMME
                                    </div>
                                </div>
                                <div></div>
                                <div class="prestation">
                                    <div>
                                        <label class="switch">
                                            <input type="checkbox" name="subscribe" value="Shampoing"
                                                [(ngModel)]="reservation.prestation" >
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="prestation-text">
                                        <p>Shampoing</p>
                                    </div>
                                </div>
                                <div class="prestation">
                                    <div>
                                        <label class="switch">
                                            <input type="checkbox" name="subscribe" value="Coupe"
                                                [(ngModel)]="reservation.prestation">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="prestation-text">
                                        <p>Coupe</p>
                                    </div>
                                </div>
                                <div class="prestation">
                                    <div>
                                        <label class="switch">
                                            <input type="checkbox" name="subscribe" value="Couleur"
                                                [(ngModel)]="reservation.prestation" >
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="prestation-text">
                                        <p>Couleur</p>
                                    </div>
                                </div>
                                <div class="prestation">
                                    <div class="prestation-button">
                                        <label class="switch">
                                            <input type="checkbox" name="subscribe" value="Barbe"
                                                [(ngModel)]="reservation.prestation">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="prestation-text">
                                        <p>Taille de la barbe</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2 class="title" style="padding-top: 3%;">Joli choix ! Quelle jour & heure voulez-vous ?
                            </h2>
                            <div class="prestation-date">
                                <input type="datetime-local" id="meeting-time" name="meeting-time" min="2021-05-31T09:00" max="2021-06-07T18:00" [(ngModel)]="reservation.appointementDate">
                            </div>
                        </div>
                        <div>
                            <h2 class="title" style="padding-top: 3%;">Où vient-on prendre soin de vous ?</h2>
                            <div class="prestation-lieu">
                                <div class="form-check">
                                    <div class="prestation-lieu-bloc">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="{{reservation.client.address}" [(ngModel)]="reservation.address">
                                        <label class="form-check-label" for="exampleRadios1">
                                            Chez moi
                                        </label>
                                    </div>
                                    <div class="prestation-lieu-bloc">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="{{reservation.proffesional.address}" [(ngModel)]="reservation.address">
                                        <label class="form-check-label" for="exampleRadios2">
                                            Chez le prestataire
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                    <div>
                        <h2 class="title" style="padding-top: 3%;">Confirmez votre réservation</h2>
                        <div>
                            <div class="left border prestation-paiement">
                                <div>
                                    <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" />
                                        <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                                </div>
                                <form>
                                    <div class="col-4" style="margin-bottom: 2%;"><span>Numero carte:</span> <input placeholder="0125 6780 4567 9909"><br></div>
                                    <div class="row">
                                        <div class="col-4"><span>date d'expiration:</span> <input placeholder="YY/MM">
                                        </div>
                                        <div class="col-4"><span>CVV:</span> <input id="cvv"> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    -->
                        <div class="col form_span from_span-12">
                            <button [disabled]="Registerform.form.invalid" class="btn btn-primary btn-create-account" type="submit" style="margin-bottom: 3%;">Validation</button>
                        </div>
                    </form>
                </div>
                <div class="panier col-lg-4">
                    <p class="panier-title text-center h4"><strong>MON PANIER</strong></p>
                    <hr>
                    <div class="etape">
                        <p>SALON DE COIFFURE</p>
                        <div>

                        </div>
                    </div>
                    <div class="etape">
                        <p>DISPONIBILITES</p>
                        <div>

                        </div>
                    </div>
                    <div class="etape">
                        <p>ADRESSE</p>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>