<app-header-horizontal></app-header-horizontal>
<section class="container signup-professional">
    <div class="signup-professional-title">
        <p>DEVENEZ PARTENAIRE <br> GOODSERVICE</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="../../assets/img/prestataire.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="link-connect text-center">Vous avez un compte ? <a routerLink="/connexion-professional">Connectez-vous</a></div>
                <div>
                    <div class="card">
                        <header class="card-header">
                            <h4 class="card-title mt-2">REJOIGNEZ-NOUS !</h4>
                        </header>
                        <article class="card-body">
                            <form>
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Postuler en tant que</option>
                                        <option value="1">Coiffeur</option>
                                        <option value="2">Estheticienne</option>
                                        <option value="3">Aide menager</option>
                                        <option value="4">Coach sportif</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <input type="text" placeholder="Prénom" class="form-control">
                                    </div>
                                    <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <input type="text" placeholder="Nom" class="form-control">
                                    </div>
                                    <!-- form-group end.// -->
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <input type="date" class="form-control">
                                    </div>
                                    <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <input type="text" placeholder="SIREN" class="form-control">
                                    </div>
                                    <!-- form-group end.// -->
                                </div>
                                <!-- form-row end.// -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Adresse">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" placeholder="Ville" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" placeholder="Code postale" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" placeholder="Numero" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" placeholder="Email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" type="password" placeholder="Mot de passe">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" type="password" placeholder="Confirmer mot de passe">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> M'INSCIRE EN TANT QUE PRO </button>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>