.signup-professional-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.link-connect {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 20px;
    padding-left: 88px;
    padding-right: 80px;
    margin-bottom: 15px;
}

input[type="date"]::before {
    content: attr(placeholder)" Date de Naissance : ";
    white-space: pre;
}

input[type="date"]:focus::before {
    content: ""!important;
}

.form-select {
    padding: 5px;
    border-radius: 20px;
}

.btn-create-account {
    background-color: teal;
    border-radius: 8px;
}

.btn-create-account:hover {
    background-color: teal;
    border-radius: 8px;
}