<app-header-horizontal></app-header-horizontal>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../assets/img/user-icon.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form #loginform="ngForm" (ngSubmit)="loginUser()">
            <small class="danger">{{msg}}</small>
            <input type="text" class="fadeIn second" name="email" placeholder="Email" [(ngModel)]="user.email">
            <input type="text" class="fadeIn third" name="password" placeholder="Mots de passe" [(ngModel)]="user.mdp">
            <input type="submit" class="fadeIn fourth" value="ME CONNECTER">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Mot de passe oublié ?</a>
        </div>

    </div>
</div>