<nav class="header_horizontal">
    <div class="container-fluid">
        <div class="container">
            <div class="row header">
                <div class="col-lg-2 logo">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/img/logo.png" alt="" width="90" height="80" class="d-inline-block align-top">
                    </a>
                </div>
                <div class="col-lg-7" id="navbarNavDropdown">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Coiffure
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" [routerLink]="['/prestation/coupe/homme']">Coupe Homme</a>
                                        <a class="dropdown-item" [routerLink]="['/prestation/coupe/femme']">Coupe Femme</a>
                                        <a class="dropdown-item" [routerLink]="['/prestation/brushing']">Brushing</a>
                                        <a class="dropdown-item" [routerLink]="['/prestation/coloration']">Coloration</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Beaute
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" [routerLink]="['/prestation/epilation']">Épilation</a>
                                        <a class="dropdown-item" [routerLink]="['/prestation/manucure']">Manucure</a>
                                        <a class="dropdown-item" [routerLink]="['/prestation/soin-hydratant']">Soin hydratant</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menage
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" [routerLink]="['/prestation/menage']">Menage</a>
                                        <a class="dropdown-item" [routerLink]="['/prestation/repasage']">Repassage</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Coach Sportif
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Cuisse, abdo & fessier</a>
                                        <a class="dropdown-item" href="#">Cardio training</a>
                                        <a class="dropdown-item" href="#">Yoga</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg">
                    <div class="header__button">
                        <div class="header__button_position">
                            <a style="color: white;" routerLink="signup-professional">
                                <div class="header__icon">
                                    <img src="../../assets/img/professional-icon.webp" width="40" height="40" alt="">
                                </div>
                                <div class="header__button-text">
                                    <p>Devenir pro</p>
                                </div>
                            </a>
                        </div>
                        <div class="header__button_position">
                            <a style="color: white;" routerLink="signup-user">
                                <div class="header__icon">
                                    <img src="../../assets/img/icon-user.webp" width="40" height="40" alt="">
                                </div>
                                <div class="header__button-text">
                                    <p>Devenir client</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>