<app-header-horizontal-professional></app-header-horizontal-professional>
<div class="container-fluid">
    <div class="container">
        <div class="row horaire-info">
            <div class="title">
                <h1>Vos Horaires !</h1>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Date d'expiration</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <li></li>
                            </td>
                            <td>
                                <li></li>
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn-add" style="background-color: teal;" [routerLink]="['../addHoraire']">
                    Ajouter des horaires
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>