<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div>
            <div class="row container-header">
                <div class="col-lg-12">
                    <div class="logo">
                        <a class="navbar-brand" href="#">
                            <img src="../../assets/img/logo.png" alt="" width="70" height="70">
                        </a>
                    </div>
                    <div class="onglet-menu" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">COIFFURE</a>
                                <ul class="nac-item-scd">

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">BEAUTE</a>
                                <ul class="nac-item-scd">

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">MENAGE</a>
                                <ul class="nac-item-scd">

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">COACH SPORTIF</a>
                                <ul class="nac-item-scd">

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="icon">
                        <div>
                            <button type="button" class="btn btn-light">Vous êtes un
                                professionel ?</button>
                        </div>
                        <div class="signup-user">
                            <div>
                                <div><a routerLink="connexion"><button class="btn"><img src="../../assets/img/user-icon.png" height="50" width="60" alt="" /> Connexion</button></a></div>
                                <div>Pas de compte ? <br><a routerLink="signup-user"><button class="btn">inscrivez-vous</button></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>