<header>
    <nav>
        <div>
            <div class="row container-header">
                <div class="col-lg-12">
                    <div class="logo">
                        <a class="navbar-brand" href="#">
                            <img src="../../assets/img/logo.png" alt="" width="70" height="70">
                        </a>
                    </div>
                    <div class="onglet-menu" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <div class="img">
                                    <img src="../../assets/img/coiffeur.png" height="45" width="45" alt="">
                                </div>
                                <div class="btn-group dropright">
                                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        COIFFURE
                                    </a>
                                    <div class="dropdown-menu">
                                        <p class="menu-subtitle typo-subtitle-xxl bold pt-4 pb-2">COIFFURE</p>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Coupe
                                            homme</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Coupe
                                            femme</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Brushing</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Coloration</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="img">
                                    <img src="../../assets/img/Beaute.png" height="40" width="40" alt="">
                                </div>
                                <div class="btn-group dropright">
                                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        BEAUTÉ
                                    </a>
                                    <div class="dropdown-menu">
                                        <p class="menu-subtitle typo-subtitle-xxl bold pt-4 pb-2">BEAUTÉ</p>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Épilation</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Manucure</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Soin
                                            hydratant</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="img">
                                    <img src="../../assets/img/menage.png" height="45" width="45" alt="">
                                </div>
                                <div class="btn-group dropright">
                                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        MENAGE
                                    </a>
                                    <div class="dropdown-menu">
                                        <p class="menu-subtitle typo-subtitle-xxl bold pt-4 pb-2">MENAGE</p>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Menage</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Repassage</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="img">
                                    <img src="../../assets/img/coach.png" width="40" height="40" alt="">
                                </div>
                                <div class="btn-group dropright">
                                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        COACH SPORTIF
                                    </a>
                                    <div class="dropdown-menu">
                                        <p class="menu-subtitle typo-subtitle-xxl bold pt-4 pb-2">COACH SPORTIF</p>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Cuisses, abdo
                                            & fessiers</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Cardio
                                            training</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" style="color: black !important;" href="#">Yoga</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="icon">
                        <div>
                            <a routerLink="signup-professional"><button type="button" class="btn btn-light btn-professional">Vous êtes un Professionnel ?</button></a>
                        </div>
                        <div class="signup-user">
                            <div class="signup-user-section">
                                <div class="connexion-user"><a routerLink="connexion"><button class="btn"><img
                                                src="../../assets/img/user-icon.png" height="50" width="60" alt="" />
                                            Connexion</button></a></div>
                                <div class="signup-user">Pas de compte ? <br><a routerLink="signup-user">
                                        inscrivez-vous</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>