.container-fluid {
    background-size: contain;
    background-repeat: no-repeat;
}

.contenu {
    margin-left: 16%;
    margin-bottom: 9%;
}

.casse {
    display: flex;
    flex-direction: row;
}

.title-casse {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 14px;
    color: teal;
    text-align: center;
    margin-bottom: 15px;
}

a:link {
    text-decoration: none;
}

.casse-img {
    margin: auto;
    margin-bottom: 30px;
}

.casse-one,
.casse-two {
    background-color: white;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
    border: 1px solid;
    border-radius: 5px;
    width: calc(100%/3);
    padding: 10px;
    min-height: 220px;
    padding-top: 50px;
    text-align: center;
    transition: box-shadow .3s ease-in-out;
}

.welcome-home {
    border-radius: 5px;
    border: 1px solid;
    margin-top: 10px;
    background: #fff;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    font-size: 29px;
    line-height: 32px;
    color: teal;
    text-transform: uppercase;
    flex: 0 0 auto;
}

.casse-link {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    width: calc(100%/3);
    padding: 10px;
    min-height: 220px;
    padding-top: 50px;
    text-align: center;
    transition: box-shadow .3s ease-in-out;
}

.deconnect {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    font-weight: bold;
    color: teal;
    background-color: white;
}

.deconnect-img {
    margin-right: 10px;
}