<app-header-reservation></app-header-reservation>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="map-wrapper col-lg-8">
                <h1 class="title">Choisssez votre coiffeur</h1>
                <div class="map-border">
                    <div id="map"></div>
                </div>
                <div class="info-coiffeur">
                    <p class="info-coiffeur-title">INFORMATION SUR LE SALON DE COIFFURE</p>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary btn-lg">RETOUR</button>
                    <button type="button" class="btn btn-primary btn-lg">SUIVANT</button>
                </div>
            </div>
            <div class="panier col-lg-4">
                <p class="panier-title text-center h4"><strong>MON PANIER</strong></p>
                <hr>
                <div class="etape">
                    <p>SALON DE COIFFURE</p>
                    <div>

                    </div>
                </div>
                <div class="etape">
                    <p>DISPONIBILITES</p>
                    <div>

                    </div>
                </div>
                <div class="etape">
                    <p>ADRESSE</p>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>