.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.panier {
    font-weight: bold;
    color: teal;
    box-shadow: 1px 1px 12px #555;
    border-radius: 20px;
}

.etape {
    margin-bottom: 30%;
}

.panier-title {
    margin-top: 5%;
    color: teal;
}

hr {
    margin-top: 0;
    background-color: teal;
    color: teal;
    width: 25%;
}

.btn {
    box-shadow: 1px 1px 12px #555;
    font-size: 20px;
    margin-top: 5%;
    margin-right: 2%;
    background-color: teal;
    color: white;
    border-radius: 200px;
}

.info-coiffeur {
    margin-top: 3%;
    padding: 20px;
    padding-bottom: 100px;
    box-shadow: 1px 1px 12px #555;
    border-radius: 20px;
}

.info-coiffeur-title {
    font-size: 20px;
    color: teal;
    font-weight: bold;
    border-bottom: 3px solid teal;
}